<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="Admin.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="cyber.png" alt="Company Logo" class="img-thumbnail img_nav"> Cybergroup
      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto navlinks">
              <li class="nav-item ">
                <a class="nav-link" href="Create.html">Create </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="AdminAddSkills.html"> Skills </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Projects.html"> Projects </a>
              </li>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                 </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                   <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>

                </div>
                </a>
              </li>
            </ul>
          </div>
    </nav>


    <div class="container">
          <input class="btn btn-primary " type="submit" value="List of Employees" id="list_button">
          <div id="pop"></div>

    </div>

  </body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
    <script src="Admin.js"></script>
</html>
