*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
.img_nav{
  width: 2rem;
}
.card{
    top:50px;
    width:40%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.form-control{
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
