<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="index.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="..\public\css\bootstrap.min.css" class="css">
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm bg-dark text-light ">
              <img src="cyber.png" alt="Company logo" class="img-thumbnail img_nav"> Cyber Group</nav>
            <div class="container">
                <div class="card ">
                    <div class="card-header text-center"><h2>Login Page</h2></div>
                    <div class="card-body ">
                        <div class="col-sm-8 offset-sm-2 text-center">
                            <form class="form justify-content-center">
                                <div class="form-group">
                                    <label for="email">Username</label>
                                    <input type="email" class="form-control text-center" id="email" placeholder="john.doe" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password</label>
                                    <input type="password" class="form-control text-center" id="password" placeholder="****" name="password">
                                </div>
                                <div class="form-group form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember">Remember me
                                </label>
                                </div>
                        </form>
                    </div>
                    </div>
                    <div class="card-footer text-center">
                        <input class="btn btn-primary" type="button" value="Submit" onclick = "submitbtn()">
                    </div>
              </div>
            </div>
        </div>
    </body>
    <script src="..\public\js\index.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>
