<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Projects.css">
      <link src="../css/select2-bootstrap-theme/select2-bootstrap.min.css" type="text/css" rel="stylesheet" />
    <title>Hello, world!</title>
  </head>
  <body>
<!--      Navbar-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="cyber.png" alt="Company Logo" class="img-thumbnail img_nav"> Cybergroup
      </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navlinks">
              <li class="nav-item ">
                <a class="nav-link" href="Create.html">Create </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="AdminAddSkills.html"> Skills </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="Projects.html"> Projects </a>
              </li>
              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                 </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                   <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
                </a>
              </li>
            </ul>
          </div>
    </nav>
<!--Create Project-->
<div class="container">
    <div class="card">
                    <div class="card-header text-center"><h2>Create Project</h2></div>
                    <div class="card-body">
                        <div class="col-sm-8 offset-sm-1  text-center">
                            <form class="form justify-content-center">
                              <div class="form-group">
                                  <label for="email">Project Name</label>
                                  <input type="text" class="form-control text-center" id="project_name" name="project_name">
                              </div>
                            <div class="sel_skills">
                              <label id="label_skills" for="states[]"> Select Skills</label>
                              <select class="js-example-basic-multiple skills_input" name="states[]" multiple="multiple" id = "Skills_option">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                              </select>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <input class="btn btn-primary " type="submit" id="recommend" value="Recommend">
                    </div>
              </div>

</div>
<div class="container">
    <div id="pop">
    </div>
</div>
</body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/js/Projects.js"></script>
</html>
