<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/user.css" class="css">
  <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark text-light justify-content-center">
        <img src="cyber.png" alt="Company logo" class="img-thumbnail img_nav"> Cyber Group</nav>
    <div class="main">
        <div class="container">
            <div class="row header">
                <div class="col"><img class="img-fluid" src="/img/1.jpg"></div>
                <div class="col texts">
                    <h1 >Sahil Sharma</h1>
                    <h5> email : u@abc.com </h5>
                </div>
            </div>
            <div class="sel_skills">
                <label id="label_skills" for="states[]"> Select Skills</label>
                <select class="js-example-basic-multiple skills_input" name="states[]" multiple="multiple" id = "Skills_option">
                    <option >Alabama</option>
                    <option >Wyoming</option>
                </select>
                <button class = "btn btn-primary btn-sm " id ="ADDbtn"> ADD </button>
            </div>
    <h3>My Skills</h3>
            <div id="display_skills"></div>
        </div>
        </body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="/js/user.js" charset="utf-8"></script>
    </html>
