.img_nav{
width: 2rem;
 }
.container{
 text-align: center;
}
table{
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr,td,th{
    padding: 20px;
    border: 2px solid black;
}

td img{
    padding: 0 5px;
    width: 2rem;
}
